@use '@/shared/styles/globals.scss' as *;

.cardsViewer {
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-rows: 532px 1fr;

	@media screen and (max-width: $mobile) {
		grid-template-rows: 320px 1fr;
	}
}

.controlls {
	min-height: 68px;
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	gap: 20px;
	align-items: center;
	font-weight: 500;
	font-size: 20px;
}
