$tablet: 1200px;
$mobile: 768px;

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 24px;
	margin-bottom: 64px;
}

.group {
	display: flex;
	align-items: center;
	gap: 3rem;

	@media screen and (max-width: $tablet) {
		gap: 1rem;
	}

	@media screen and (max-width: $mobile) {
		display: none;
	}
}

.logo {
	display: block;
	overflow: hidden;
	white-space: nowrap;

	h2 {
		font-size: 36px;
		font-weight: 800;
	}

	.tabletLogo {
		display: none;
	}

	@media screen and (max-width: $tablet) {
		.tabletLogo {
			display: block;
		}

		.desctopLogo {
			display: none;
		}
	}

	@media screen and (max-width: $mobile) {
		display: none;
	}
}

.createBtn {
	font-size: 18px;
	font-weight: 600;
	padding: 14px 1.5rem;

	@media screen and (max-width: $tablet) {
		font-size: 16px;
		padding: 14px 0.5rem;
	}

	@media screen and (max-width: $mobile) {
		display: none;
	}
}
