.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 0;
	margin-bottom: 64px;
}

.group {
	display: flex;
	align-items: center;
	gap: 48px;
}

.logo {
	font-size: 36px;
	font-weight: 800;
}

.createBtn {
	font-size: 18px;
	font-weight: 600;
	padding: 14px 24px;
}
