.button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 16px;
	cursor: pointer;
	font-family: inherit;
	font-weight: 600;
	font-size: 18px;
	padding: 16px;
}

.primary {
	background: #ededed;
	color: #0a0a0a;
	border: none;
	transition: opacity 0.3s;

	&:disabled {
		opacity: 0.8;
	}

	&:hover {
		transition: opacity 0.3s;
		opacity: 0.8;
	}
}

.secondary {
	background: transparent;
	color: #ededed;
	border: 2px solid #ededed;
	transition: background 0.3s;

	&:disabled {
		opacity: 0.8;
	}

	&:hover {
		transition: background 0.3s;
		background: #ffffff0f;
	}
}
