.button {
	border-radius: 16px;
	cursor: pointer;
	font-weight: 500;
	font-size: 18px;
	padding: 16px;
}

.primary {
	background: #ededed;
	color: #000;
	border: none;
	transition: background 0.3s;

	&:disabled {
		background: #cfcfcf;
		color: #181818;
	}

	&:hover {
		transition: background 0.3s;
		background: #cacaca;
	}
}

.secondary {
	background: transparent;
	color: #ededed;
	border: 2px solid #ededed;
	transition: background 0.3s;

	&:disabled {
		border: 2px solid #cfcfcf;
		color: #cfcfcf;
	}

	&:hover {
		transition: background 0.3s;
		background: #ffffff0a;
	}
}
