.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #00000040;
	cursor: pointer;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #2a2a2f;
	border-radius: 0.5rem;
	padding: 2rem;
	width: 80%;
	max-width: 600px;
	cursor: default;
	display: grid;
	gap: 1rem;
}

.textarea {
	width: 100%;
	padding: 1rem;
	font-size: 18px;
	color: #fff;
	height: 400px;
	border-radius: 0.5rem;
	border: 2px solid #fff;
	background: transparent;
	resize: none;
	margin-bottom: 1rem;

	&:focus {
		outline: none;
	}
}
