@use '@/shared/styles/globals.scss' as *;

.congratulations {
	background: var(--gray);
	border-radius: 1rem;
	padding: 2rem;
	margin-top: 1rem;
	text-align: center;

	> h3 {
		margin-top: 1rem;
	}

	@media screen and (max-width: $mobile) {
		> h1 {
			font-size: 1.5rem;
		}

		> h3 {
			font-size: 1rem;
			font-weight: 500;
		}

		> .icon {
			max-width: 100%;
			height: auto;
		}
	}
}

.button {
	width: 100%;
	margin-top: 1rem;
}
