@use '@/shared/styles/globals.scss' as *;

.card {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	border: 2px solid #2a2a2f;
	border-radius: 0.5rem;
	padding: 2rem;

	.close {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		cursor: pointer;
		padding: 2px;
	}

	@media screen and (max-width: $mobile) {
		grid-template-columns: 1fr;
		gap: 1rem;
	}
}
