@use '@/shared/styles/globals' as *;

.list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
}

.time {
	display: block;
	font-size: 48px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 48px;
}

.startScreen {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
