.title {
	margin-top: 2rem;
}

.description {
	margin: 1rem 0 0;
}

.import {
	margin-top: 2rem;
	background: #ededed;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	font-weight: 500;
	font-size: 18px;
	padding: 1rem;
}

.cards {
	margin-top: 1rem;
	display: grid;
	gap: 1rem;
}

.card {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	border: 2px solid #2a2a2f;
	border-radius: 0.5rem;
	padding: 2rem;

	.close {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		cursor: pointer;
		padding: 2px;
	}
}

.add {
	width: 100%;
	border: 2px solid #2a2a2f;
	border-radius: 0.5rem;
	padding: 2rem;
	background: none;
	cursor: pointer;
	margin: 1rem 0 2rem;
}

.create {
	width: 100%;
	background: #ededed;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	font-weight: 500;
	font-size: 24px;
	padding: 1rem 0;
}
