.modules {
	display: flex;
	gap: 3rem;
	margin-top: 2rem;
}

.skeletonList {
	height: 16rem;
	width: 100%;
	display: flex;
	gap: 3rem;
	margin-top: 2rem;
}

.createModule {
	height: 16rem;
	width: 30%;
	margin-top: 2rem;
}
