.input {
	border: 2px solid #2a2a2f;
	border-radius: 1rem;
	padding: 1rem 2rem 1rem 1.5rem;
	background: #0a0a0a;
	transition: background 0.2s;
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	width: 100%;

	&.error {
		border: 2px solid #d02929;
	}

	&::placeholder {
		font-size: 16px;
		font-weight: 500;
	}

	&:focus {
		background: #101010;
		outline: none;
	}
}

.labelText {
	text-align: left;
}

p.error {
	color: #d02929;
	text-align: left;
}

.passwordInput {
	position: relative;
	display: flex;

	& > span {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		display: block;
		height: 24px;
		cursor: pointer;
	}
}
