@use '@/shared/styles/globals.scss' as *;

.selectBody {
	position: relative;

	> p {
		margin-bottom: 0.5rem;
	}

	> button {
		background: transparent;
		border: 2px solid $foreground;
		padding: 0.5rem 1rem;
		border-radius: 0.5rem;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	> ul {
		list-style: none;
		position: absolute;
		border-radius: 0.5rem;
		overflow: hidden;
		background: $darkGray;
		width: 100%;

		> li {
			> button {
				background: transparent;
				border: none;
				padding: 1rem;
				cursor: pointer;
				width: 100%;
				height: 100%;
				text-align-last: left;
				transition: 0.2s background;

				&:hover {
					transition: 0.2s background;
					background: #ffffff06;
				}
			}
		}
	}

	.list {
		max-height: 0%;
		overflow: hidden;
		transition: max-height 0.2s;

		&.open {
			transition: max-height 0.5s;
			max-height: 500%;
		}
	}

	.icon {
		transition: transform 0.2s;

		&.open {
			transition: transform 0.2s;
			transform: rotateX(180deg);
		}
	}
}
