.swiper-button-prev,
.swiper-button-next {
	background: #2a2a2f;
	border-radius: 50%;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 10;
	width: 44px;
	height: 44px;

	&::after {
		width: 24px;
		height: 24px;
		content: '';
		background: url('/arrow.svg');
		background-size: contain;
		background-position: center;
	}
}

.swiper-button-prev {
	transform: rotate(180deg);
	left: 6px;
}

.swiper-button-next {
	right: 6px;
}

.swiper-button-disabled {
	display: none;
}
