.add {
	width: 100%;
	border: 2px solid #2a2a2f;
	border-radius: 0.5rem;
	padding: 2rem;
	background: none;
	cursor: pointer;
	margin: 1rem 0 2rem;
}

.create {
	width: 100%;
	background: #ededed;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	font-weight: 500;
	font-size: 24px;
	padding: 1rem 0;
}

.info {
	display: grid;
	row-gap: 1rem;
}

.import {
	background: #ededed;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	font-weight: 500;
	font-size: 18px;
	padding: 1rem;
}

.cards {
	margin-top: 1rem;
	display: grid;
	gap: 1rem;
}

.options {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	gap: 1rem;
}
