@use '@/shared/styles/globals.scss' as *;

.card {
	border: 3px solid #1c1c1f;
	border-radius: 16px;
	padding: 20px;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background 0.3s, border-color 0.3s;
	min-height: 100px;
	text-align: center;

	&:hover {
		background: #ffffff07;
	}
}

.card.selected {
	border-color: #48484f;
}

.card.error {
	border-color: #ca2a2a;
}

.card.invisible {
	border-color: transparent;
	pointer-events: none;
}
