.button {
	background: transparent;
	border-radius: 2rem;
	border: none;
	width: 40px;
	height: 40px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background 0.2s;

	&:hover {
		transition: background 0.2s;
		background: #ffffff08;
	}
}
