.wrapper {
	position: relative;
	z-index: 10;

	&:hover {
		.tools {
			height: 200px;

			.tool {
				color: #ededed;
			}
		}
	}
}

.body {
	padding-bottom: 4px;
	margin-bottom: -4px;

	> a {
		width: 44px;
		height: 44px;
		background-color: #dcdcf1;
		border: none;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.tools {
	background: #1c1c1f;
	border-radius: 8px;
	display: grid;
	overflow: hidden;
	width: 128px;
	height: 0;
	position: absolute;
	top: 110%;
	left: 50%;
	transform: translateX(-50%);
	transition: height 0.2s;

	.tool {
		background: transparent;
		border: none;
		cursor: pointer;
		transition: background 0.2s, color 0.1s;
		font-size: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: transparent;

		&:hover {
			background: #212125;
		}

		.btn {
			background: transparent;
			border: none;
			width: 100%;
			height: 100%;
			font-size: inherit;
		}
	}
}
